.touch 
{
    background-image: url(../images/touch/Pexels\ Photo\ by\ Rachel\ Claire.svg);
    background-position: center;
    background-size: cover;
    margin: 70px 0 40px;

    div 
    {
        padding: 120px 0;
        text-align: center;
        color: map-get($colors, text2);
        width: 47%;
        margin: auto;

        p:nth-of-type(2) {
            font-size: 38px;
            line-height: 1.05;
            margin: 10px 0 40px;
        }

        .cta {
            background-color: map-get($colors, main);
        }
    }
}

footer {
    padding-bottom: 30px;
    text-align: center;
}